.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  .oddbtn {
    flex: 1;
    height: 6rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 2rem;
    color: #333;
    transition: 0.2s;
    &:first-child {
      margin-right: 1rem;
    }
    &:last-child {
      margin-left: 1rem;
    }
  }
  .active {
    box-sizing: border-box;
    transition: 0.7s;
    background-color: #0761a8;
    color: #fff;
    box-shadow: 0px 2px 3px #042d4d;
  }
}
